/* define some basic variables */
//$background: #FFF7F3;
$background: #FBFBFB;
$text: #464443;
$link: #9F8880;
$selected: #7F007F;

$base-font-family: 'Merriweather', 'Georgia', Serif;
$base-size-low: 15px;
$base-size-high: 30px;
$base-size: $base-size-low $base-size-high;
$line-height-multiplier: 1.6;
$base-font-weight: 300;

$base-padding: 8px;

/*
// for modular scale, use a range from -3 to +3
@debug ms(-3);
@debug ms(-2);
@debug ms(-1);
@debug ms(0);
@debug ms(1);
@debug ms(2);
@debug ms(3);
*/

// extra font definitions
$font-heavy: 900;
