@import "globals/mixins";
@import "globals/definitions";

$base-size-low: 14px;
$base-size-high: 24px;
$base-size: $base-size-low $base-size-high;

body {
	background: #FFFFFF;
  @include set-font(1);
}

h1 { @include set-font(3); }

.donald { 
	color: #464443;
}
.article-title {
	margin-bottom: 40px;
  @include set-font(3);
}
.page {	width: 75%; }

.noprint { display: none; }
