a {
  color: #137752;
}
a:hover {
  color: #19A974;
}

code {
  color: #777777;
  font-size: 1rem;
}

h1 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

h2 {
  margin-top: 1rem;
  margin-bottom: .25rem;
}

li {
  margin-top: .5rem;
}

ul, ol {
  padding-left: 1.5rem;
}

@media print {
  .noprint { display: none; }
}
