@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #137752; 
}

a:hover {
  color: #19A974; 
}

article {
  @apply md:[width:60ch];
  .gist {
    @apply my-4;
    @apply lg:[width:60rem];
  }
}

pre {
  @apply my-4;
  @apply p-2;
  @apply bg-white;
  @apply text-sm;
  @apply font-mono;
}

h1 {
  @apply text-2xl;
  @apply mt-10;
  @apply mb-1;
}

h2 {
  @apply text-3xl;
  @apply mt-6;
  @apply mb-1;
}

li {
  @apply mt-1;
  @apply list-disc;
}

ul, ol {
  @apply m-4;
}

p {
  @apply my-2;
}

@media print {
  .noprint {
    @apply hidden;
  } 
}
