<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Donald L. Merand">
  <title>{{ page.title}}</title>
  <link rel="alternate" type="application/atom+xml" title="Donald L. Merand" href="atom.xml">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/css/style.css" media="all" >
  <link rel="stylesheet" href="/assets/css/syntax.css" media="all" >
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Merriweather:900,300' media="all">
  <link rel="stylesheet" href="/assets/css/print.css" media="print" >
</head>

<body>
  <div class="donald"><a href="/index.html">Donald L. Merand</a></div>
  <div class="page">

    {{ content }}

    <footer>
      <span class="noprint">
        <script type="text/javascript">
          <!--
          h='&#x67;&#x6d;&#x61;&#x69;&#108;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#100;&#x6d;&#x65;&#114;&#x61;&#110;&#100;';e=n+a+h;
          document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
          // -->
        </script><noscript>&#100;&#x6d;&#x65;&#114;&#x61;&#110;&#100;&#32;&#x61;&#116;&#32;&#x67;&#x6d;&#x61;&#x69;&#108;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript>
       | <a href="/atom.xml">[rss feed]</a>
      </span>
      <p>Copyright Donald L. Merand (unless otherwise specified).</p>
    </footer>
  </div><!-- page -->
</body>

</html>
