<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Donald L. Merand">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title}}</title>
  <link rel="alternate" type="application/atom+xml" title="Donald L. Merand" href="atom.xml">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/css/tachyons.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="pl4-l pa3 pa4-ns athelas f4 bg-near-white black">
  <div class="donald"><a href="/index.html">Donald L. Merand</a></div>
  <div class="page">

    {{ content }}

    <footer class="mt4 f6">
      <div>
        <script type="text/javascript" language="javascript">
        <!--
        // Email obfuscator script 2.1 by Tim Williams, University of Arizona
        // Random encryption key feature coded by Andrew Moulden
        // This code is freeware provided these four comment lines remain intact
        // A wizard to generate this code is at http://www.jottings.com/obfuscator/
        { 
          coded = "iqMXzi@RveXMi.qeS"
          key = "wV1gyfxlBCKrj4F7LacZSoJEzsIbe568umXPGdqnUhtpHvk9D2ROYAiTMW03QN"
          shift=coded.length
          link=""
          for (i=0; i<coded.length; i++) {
            if (key.indexOf(coded.charAt(i))==-1) {
              ltr = coded.charAt(i)
              link += (ltr)
            }
            else {     
              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
              link += (key.charAt(ltr))
            }
          }
          document.write("<a href='mailto:"+link+"'>"+link+"</a>")
        }
        //-->
        </script>
        | <a href="/atom.xml">[rss feed]</a>
      </div>
      <div>Copyright Donald L. Merand (unless otherwise specified).</div>
    </footer>
  </div><!-- page -->
</body>

</html>
